@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: hsl(210, 46%, 95%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.title {
    display: flex;
    align-items: center;
}

.lists {
    list-style: none;
    opacity: 30%;
}

h3 {
    font-size: 1.8rem;
    margin: 10px auto;
}

.paragraph {
    font-size: 1.2rem;
    opacity: 30%;
}


.rows {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    height: 70%;
    width: 60%;
}

.my-row {
    padding: 35px;
    border-radius: 10px;
}


.my-row:last-child{
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

h1,
p {
    font-size: 0.9rem;
}

p {
    font-size: 11px;
}

.row1 {
    background-color: hsl(263, 55%, 52%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: right 100px top 2px;
    grid-column: 1 / 3 ;
}

.row2 {
    background-color: hsl(217, 19%, 35%);

}

.row3 {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);

}

.row4 {
    background-color: hsl(219, 29%, 14%);

    grid-column: 2 / 4 ;
}

.row5 {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);

}

img {
    border-radius: 100%;
    border: 4px solid white;
    scale: 0.5;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}